{% extends 'music/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}
{% load staticfiles %}

{% block body %}
    <style>
    #playlist{
        list-style: none;
    }
    #playlist td{
        color: black;
        text-decoration: none;
    }
    #playlist .current-song {
        color: blue;
    }
</style>
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail_public' album.id %}">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'music:detail_public' album.id %}">View All</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <table>
                        <tr>
                            <th style="font-size: 20px">All songs</th>
                            <th style="position: static;
                                       padding-left: 255px;
                                       text-align: center;"
                            >
                            <audio controls id="audioPlayer">
                                <source src="" type="audio/ogg">
                                <source src="" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            </th>
                        </tr>
                    </table>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
{#                            <th>Favorite</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in songs %}
                            <tr id="playlist">
                                <td>{{ song.song_title }}</td>
                                <td>
                                <a href="{{ song.audio_file.url }}"><img style="width: 35px" src="{% static 'music/images/play.png' %}"></a>

{#                                    <a target="_blank" href="{{ song.audio_file.url }}">#}
{#                                        <button type="button" class="btn btn-success btn-xs">#}
{#                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play#}
{#                                        </button>#}
{#                                    </a>#}
                                </td>
{#                                <td>#}
{#                                    <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>#}
{#                                </td>#}
                            </tr>
                        {% endfor %}
                        <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
                        <script src="{% static 'music/js/audioplayer.js' %}"></script>
                        <script>
                            // loads the audio player
                            audioPlayer();
                        </script>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
