{% extends 'music/base.html' %}
{% block title %}All Songs{% endblock %}
{% block songs_active %}active{% endblock %}
{% load staticfiles %}

{% block body %}
<style>
    #playlist{
        list-style: none;
    }
    #playlist td{
        color: black;
        text-decoration: none;
    }
    #playlist .current-song {
        color: blue;
    }
</style>
<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:songs' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:songs' 'favorites' %}">Favorites</a></li>
                <table>
                        <tr>
                            <th style="position: static;
                                       padding-left: 255px;
                                       text-align: center;"
                            >
                            <audio controls id="audioPlayer">
                                <source src="" type="audio/ogg">
                                <source src="" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            </th>
                        </tr>
                </table>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                                <th>Audio File</th>
                                <th>Album</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in song_list %}
                                <tr id="playlist">
                                    <td>{{ song.song_title }}</td>
                                    <td>{{ song.album.artist }}</td>
                                    <td ><a href="{{ song.audio_file.url }}"><img style="width: 35px" src="{% static 'music/images/play.png' %}"></a>

{#                                        <a target="_blank" href="{{ song.audio_file.url }}">#}
{#                                            <button type="button" class="btn btn-success btn-xs">#}
{#                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play#}
{#                                            </button>#}
{#                                        </a>#}
                                    </td>
                                    <td>
                                        <a href="{% url 'music:detail' song.album.id %}">
                                            <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'music:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
                            <script src="{% static 'music/js/audioplayer.js' %}"></script>
                            <script>
                                // loads the audio player
                                audioPlayer();
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
